@page "/"

<PageTitle>Home</PageTitle>
<div class ="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="thumbs/csharp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="thumbs/csharp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="thumbs/csharp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="thumbs/csharp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row g-3">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3" style="max-width: 1168px;">
                <div class="row g-0">
                    <div class="col-md-3 text-center text-md-start">
                        <img src="thumbs/microsoftnet.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3" style="max-width: 1168px;">
                <div class="row g-0">
                    <div class="col-md-3 text-center text-md-start">
                        <img src="thumbs/microsoftnet.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
