<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src = "imagens/mugtech_logo.png" class="bi me-2" width="40" height="40">
            <span class="fs-4">MugTech Blog</span>
        </a>

        <ul class="nav nav-pills flex-column flex-md-row">
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-house"></i> Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-tags"></i> Categorias</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white"><i class="bi bi-info-circle"></i> Sobre</a></li>
        </ul>
    </header>
</div>